@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;1,100;1,200&family=Red+Hat+Display:wght@500;700;900&family=Roboto:wght@100&display=swap');


body {
  font-family: Raleway, sans-serif;
  margin: 0;
  font-size: 15px;
  text-align: center;
  background: #1b1523;
  color: #fff;
}
